<div class="form-all clearfix">

  <%= form_with(model: @talk, local: true) do |form| %>

  <% if @talk.errors.any? %>
  <div id="error_explanation">
    <% pry-rails %>
    <% @talk.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
  </div>
  <% end %>

  <%= form.hidden_field :book_id ,value: @book.id %>
  <%= form.hidden_field :user_id ,value: current_user.id %>

  <div class="form_top">
    <%= form.text_area :highlight ,placeholder: "お気に入りの一文",class: 'form_highlight' %>
  </div>

  <div class="form_under">
    <%= form.text_area :message ,placeholder: "感想・コメント",class: 'form_message' %>
  </div>

  <%= form.submit "コメント" ,class: 'form_submit' %>
  <p class="form_comment">※各項目、上限140文字</p>

  <% end %>


</div>
