
<!-- talkページの本の情報（上段）-->
<div class="book_info row"> <%# row_1 %>

  <!-- 左に空間を開ける（画面サイズがsm以上の場合）-->
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div> <%# col_1 %>

  <!-- 本の画像を表示 col_1 -->
  <div class="book_img col-xs-4 col-sm-3 col-md-3"> <%# col_1 %>
    <%= image_tag @book.image_url, class: "book_image" %>
  </div>

  <!-- 本のタイトル/著者/出版日とフォームを表示
      （画面サイズがsm以上の場合はタイトルの下にフォームを表示させる） -->
  <div class="hidden-xs col-sm-5 col-md-5 col-lg-5"> <%# col_1 %>
    <div class="book_title"><h2><%= @book.title %><br></h2></div>
    <p>著者　：<%= @book.author %></p>
    <p>出版日：<%= @book.release %></p>
    <%= render 'form' %>
  </div>

  <!-- 本のタイトル/著者/出版日を表示（画面サイズがxsの場合） -->
  <div class="col-xs-6 hidden-sm hidden-md hidden-lg"> <%# col_1 %>
    <div class="book_title_xs"><h2><%= @book.title %><br></h2></div>
    <p>著者　：<%= @book.author %></p>
    <p>出版日：<%= @book.release %></p>
  </div>

  <!-- フォームを表示
      （画面サイズがxsの場合は、本画像、タイトル等の下にフォームを表示させる） -->
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg"> <%# col_1 %>
    <%# talk_formの呼び出し %>
    <%= render 'form' %>
  </div>

</div>

<!-- talkページのチャット（下段） -->
<% if @talks.present? %>
  <div class="talk_list">
    <% @talks.reverse_each do |talk| %>
      <div class="row">
        <%# 過去のtalkが自分の入力の場合 %>
        <% if talk.user_id == current_user.id %>
          <div class = "col-md-4"></div>
          <div class = "my_talk col-md-6">
            <% if  talk.highlight == "" %>
              <b><%= talk.user.name %></b><br>
              <div class="talk_message alert alert-info"><%= talk.message %></div>
            <% else %>
              <b><%= talk.user.name %></b><br>
              <div class="talk_message panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><u><%= simple_format(talk.highlight) %></u></h3></div>
                <div class="talk_message_h panel-body alert alert-info"><%= simple_format(talk.message) %></div>
              </div>
            <% end %>
          </div>
          <div class = "col-md-2"></div>
          <%# 過去のtalkが他の人の入力の場合 %>
        <% else %>
          <div class = "col-md-2"></div>
          <div class = "other_talk col-md-6">
            <% if  talk.highlight == "" %>
              <b><%= talk.user.name %></b><br>
              <div class="talk_message alert alert-success"><%= talk.message %></div>
            <% else %>
              <b><%= talk.user.name %></b><br>
              <div class="talk_message panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><u><%= simple_format(talk.highlight) %></u></h3></div>
                <div class="talk_message_h alert alert-success"><%= simple_format(talk.message) %></div>
              </div>
            <% end %>
          </div>
          <div class = "col-md-4"></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
