<div class="login_form">

  <%= form_with(model: @user, local: true) do |f| %>
  <div class="form-group">
    <%= f.label "名前" %>
    <%= f.text_field :name , class: "form-control" ,placeholder: "名前" , style: "width: 90%;margin: 0 auto;" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label "メール" %>
    <%= f.text_field :email , class: "form-control" ,placeholder: "メールアドレス" , style: "width: 90%;margin: 0 auto;" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label "パスワード" %>
    <%= f.password_field :password , class: "form-control" ,placeholder: "パスワード" , style: "width: 90%;margin: 0 auto;" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label "パスワード確認" %>
    <%= f.password_field :password_confirmation , class: "form-control" ,placeholder: "パスワード確認" , style: "width: 90%;margin: 0 auto;" %>
  </div>
  <br>
  <div class="login_button">
    <%= f.submit "アカウント作成" ,class: "btn btn-default" %>
  </div>

  <% end %>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count,"error") %>
      prohibites this @user from being savesd: </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
